.heading {
  font-family: "Saira", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.jumbo {
    background-color:#4a646e;
}

.button-search {
  background-color: #203a43;
  color: white;
}

